<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxeaqsVlpMc_hPIUiJLxb7G3oie0ICjO0</string>
	<key>GCM_SENDER_ID</key>
	<string>426404494062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskmanager.taskManagerApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>task-manager-app-b6d82</string>
	<key>STORAGE_BUCKET</key>
	<string>task-manager-app-b6d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426404494062:ios:df3538dcafa66843b2d1ff</string>
</dict>
</plist>